.container-body{
    background-color: #D9CCC1;
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-icones{
    background-color: #D9D9D9;
    height: 500px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    background-color: #aab60b;
    color: #402D00;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    
}

button:hover{
    background-color: #757c11;
    transition: 0.3s;
}