.container-navbar{
    background-color: #533A00;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titulo{
    color: #F8F8FF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dado{
    color: #8D6412;
    width: 48px;
    height: 48px;
}